<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <h1 class="is-size-2">Hmmm... can't reach this page</h1>
    <h2 class="is-size-4">localhost:3000/r/<%= subreddit %></h2>
    <hr>
    <p><b>localhost</b> refused to connect</p>
    <hr>
    <h5>Try:</h5>
    <br>
    <li>Search the web for <a href="https://www.bing.com/search?form=ANLKDR&q=localhost&adlt=strict&toWww=1&redig=7930A8E2C57845DE8A97043C6E3548FD">localhost</a>.</li>
    <li>Checking the connection</li>
    <li><a href="#">Checking the proxy and firewall</a></li>
    <h6>ERR_CONNECTION_REFUSED</h6>
</body>
</html>